 <div class="row my-5">     
       <div class="col-2">
            <div id="physique" class="card shadow border-0 text-center" role="button" routerLink="/all-stuff">
              <img src="../assets/icons/physique.svg"class="img-card" alt="">
              <h5 class="text-uppercase">Personne physique</h5>
            </div>
          </div>
        
          <div class="col-2">
            <div id="moral" class="card shadow border-0 text-center" role="button" routerLink="/all-stuffM">
              <img src="../assets/icons/pdg.svg" class="img-card" alt="">
              <h5 class="text-uppercase">Personne moral</h5>
            </div>
          </div>
        </div>
        <div class="d-flex bd-highlight py-5">
            <div class="text-center flex-grow-1 bd-highlight">
              <h3 class="text-uppercase">voulez-vous ?</h3>
            </div>
            <div class="bd-highlight">
              <h6 class="text-uppercase">by ammiya conseil</h6>
            </div>
          </div>
          <button class="btn-re" routerLink="/auth/login">
            <i class="fas fa-arrow-left text-light"></i>
          </button>