 #montant{
    position: relative; 
    /* left: 10px;  */
    top: 100px;
} 
.don {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.btn-don,
.btn-don-valider {
  padding: 2rem;
  font-size: 2rem;
  height: 27vh;
  width: 27vh;
  border: 3px solid #878787;
  border-radius: 50rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.btn-don span,
.btn-don-valider span {
  text-decoration: none;
  position: absolute;
  top: 36%;
  bottom: 36%;
  left: 0;
  right: 0;
  background-color: transparent;
  font-size: 2.5rem;
}


.btn-don-valider:hover {
  background: rgb(60, 177, 255);
  color: white;
}
.fa-arrow-left {
  font-size: 2rem;
}

.btn-re {
  height: 5rem;
  width: 3rem;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  z-index: 1;
  left: 0 !important;
  top: 49%;
}

/*----------- Input -----------*/

.form-control {
  width: 25rem;
}

/*------- END Input -----------*/