<input type="number" id="montant" class="form-control mx-auto" aria-describedby="">
 <br><br>
 <div align="center" class="don d-flex justify-content-center">
    <div align="center" routerLink="/add1" role="button" class="btn-don-valider mx-4">
      <span> Valider </span>
    </div>
</div>
<button class="btn-re" routerLink="/add">
    <i class="fas fa-arrow-left text-light"></i>
  </button>

  <div class="d-flex bd-highlight">
    <div class="text-center flex-grow-1 bd-highlight">
      <h3 class="text-uppercase">Veuillez saisir le montant</h3>
    </div>
    <div class="bd-highlight">
        <h6 class="text-uppercase">by ammiya conseil</h6>
      </div>
    </div>
    