<div class="col-2">
    <div id="carte" class="card shadow border-0 text-center" role="button" routerLink="/home">
      <img src="https://image.flaticon.com/icons/png/512/4395/4395653.png" class="img-card" alt="">
      <h5 class="text-uppercase">MERCI BEAUCOUP !</h5>
    </div>
  </div>
<div class="d-flex bd-highlight py-5">
    <div class="text-center flex-grow-1 bd-highlight">
      <h3 class="text-uppercase">Inserez votre carte</h3>
    </div>
    <div class="bd-highlight">
      <h6 class="text-uppercase">by ammiya conseil</h6>
    </div>
  </div>
  <button class="btn-re" routerLink="/add1">
    <i class="fas fa-arrow-left text-light"></i>
  </button>
     