#DIX{
    position: absolute; 
    left: 450px;
    top: 170px;
    color: rgb(5, 10, 10); 
    border-radius: 50%;
   }
#VG{
    position: absolute; 
    left: 700px;
    top: 170px;
    color: rgb(5, 10, 10); 
    border-radius: 50%;
   }
 #TR{
    position: absolute; 
    left: 450px;
    top: 270px;
    color: rgb(5, 10, 10); 
    border-radius: 50%;
} 
#CINQ{
    position: absolute; 
    left: 700px;
    top: 270px;
    color: rgb(5, 10, 10); 
    border-radius: 50%;
} 
#CENT{
    position: absolute; 
    left: 450px;
    top: 370px;
    color: rgb(5, 10, 10); 
    border-radius: 50%;
}
#AUTRE{
    position: absolute; 
    left: 700px;
    top: 370px;
    color: rgb(5, 10, 10); 
    border-radius: 50%;
}
#choix {
    position: absolute;  
    left: 450px;
    top: 120px;
    color: rgb(5, 10, 10); 
    font-size: 200%;  
  }

  .styled {
    border: 0;
    line-height: 3;
    padding: 0 20px;
    font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    /* text-shadow: 1px 1px 1px rgb(3, 2, 2);  */
    border-radius: 1px; 
    background-color: rgba(255, 255, 255);
    background-image: linear-gradient(to top left,
                                      rgba(255, 255, 255),
                                      rgb(255, 255, 255) 30%,
                                      rgb(255, 255, 255));
    box-shadow: inset 2px 2px 3px rgba(4, 5, 4, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}