<div class="row my-5">

  <div class="col-2">
    <div class="card shadow border-0 text-center" role="button">
      <img src="../assets/icons/mosque.svg" class="img-card" alt="">
      <h5 class="text-uppercase">frais mosquée</h5>
    </div>
  </div>

  <div class="col-2">
    <div class="card shadow border-0 text-center" role="button">
      <img src="../assets/icons/islam.svg" class="img-card" alt="">
      <h5 class="text-uppercase">fonds d'urgence</h5>
    </div>
  </div>

  <div class="col-2">
    <div class="card shadow border-0 text-center" role="button" routerLink="/add">
      <img src="../assets/icons/donation.svg" class="img-card" alt="">
      <h5 class="text-uppercase">iftar</h5>
    </div>
  </div>

  <div class="col-2">
    <div class="card shadow border-0 text-center" role="button">
      <img src="../assets/icons/donation-icon.svg" class="img-card" alt="">
      <h5 class="text-uppercase">fidya et kaffara</h5>
    </div>
  </div>

  <div class="col-2">
    <div class="card shadow border-0 text-center" role="button">
      <img src="../assets/icons/mosque.svg" class="img-card" alt="">
      <h5 class="text-uppercase">Activité</h5>
    </div>
  </div>

  <div class="col-2">
    <div class="card shadow border-0 text-center" role="button">
      <img src="../assets/icons/user.svg" class="img-card" alt="">
      <h5 class="text-uppercase">admin</h5>
    </div>
  </div>
</div>

<div class="d-flex bd-highlight py-5">
  <div class="text-center flex-grow-1 bd-highlight">
    <h3 class="text-uppercase">je choisis une campagne à soutenir</h3>
  </div>
  <div class="bd-highlight">
    <h6 class="text-uppercase">by ammiya conseil</h6>
  </div>
</div>
