<button class="btn-re" routerLink="/add">
  <i class="fas fa-arrow-left text-light"></i>
</button>
<div align="center" class="don d-flex justify-content-center">
  <div align="center" routerLink="/information" role="button" class="btn-don-oui mx-4">
    <span> Laisser vos coordonnées </span>
  </div>
  <div align="center" routerLink="/payement" role="button" class="btn-don mx-4">
    <span> Accéder au paiement </span>
  </div>
</div>
<div class="d-flex bd-highlight py-5">
  <div class="text-center flex-grow-1 bd-highlight">
    <h3 class="text-uppercase">Voulez vous un reçu ?</h3>
  </div>
  <div class="bd-highlight">
    <h6 class="text-uppercase">by ammiya conseil</h6>
  </div>
</div>
