<div align="center" class="don d-flex justify-content-center">
  <div align="center" routerLink="/add1" role="button" class="btn-don-oui mx-4">
    <span> Oui </span>
  </div>
  <div align="center" routerLink="/add1" role="button" class="btn-don mx-4">
    <span> Non </span>
  </div>
</div>
<div class="d-flex bd-highlight py-5">
  <div class="text-center flex-grow-1 bd-highlight">
    <h3 class="text-uppercase">Voulez vous un recu ?</h3>
  </div>
  <div class="bd-highlight">
    <h6 class="text-uppercase">by ammiya conseil</h6>
  </div>
</div>
