.don {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.btn-don,
.btn-don-oui {
  padding: 2rem;
  font-size: 2rem;
  height: 27vh;
  width: 27vh;
  border: 3px solid #878787;
  border-radius: 50rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.btn-don span,
.btn-don-oui span {
  text-decoration: none;
  position: absolute;
  top: 30%;
  bottom: 36%;
  left: 0;
  right: 0;
  background-color: transparent;
  font-size: 1.8rem;
}

.btn-don:hover {
  background: red;
  color: white;
}

.btn-don-oui:hover {
  background: rgb(60, 177, 255);
  color: white;
}

/*---------- Button prev ----------*/

.fa-arrow-left {
  font-size: 2rem;
}

.btn-re {
  height: 5rem;
  width: 3rem;
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  z-index: 1;
  left: 0 !important;
  top: 49%;
}

/*------ END Button prev ----------*/