<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="stuff.length <= 0 && !loading">aucune personne</p>
<div class="stuff-grid" *ngIf="stuff.length >= 0">
  <div class="physique-pane"
       *ngFor="let physique of stuff"
       [ngClass]="{'open': physique._id === chosenId}"
       (click)="onProductClicked(physique._id)">
    <div >
      
      <table style="width:200%">
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Telephone</th>
        </tr>
        <tr>
          <td>{{ physique.nom}}</td>
          <td>{{ physique.prenom}}</td>
          <td>{{ physique.mail}}</td>
         <td>{{ physique.telephone}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
